/* This is the font I found that looks the closest to the 
images, this css will convert the whole page to this font */
* {
    font-family: 'Roboto Mono Bold', sans-serif;

}

/* used to create the white space */
.useful-info-container {
    padding-bottom: 50px;
    padding-top: 100px;
}

/* creates the border around the image and rounds the leftmost corners */
.useful-info-img {

    border: 1px solid black;
    border-radius: 15px 0px 0px 15px;
}

/* creates the rounded corners, border and sets the background color */
.useful-info-paragraph {
    background-color: rgb(7, 80, 248);
    color: #ffffff;
    border: 1px solid black;
    border-radius: 0px 15px 15px 0px;
}

/* details of the big text */
.useful-info-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

/* provides the spacing inside of the paragraph box */
.useful-spacing {
    height: 15%;
}

/* in charge of the spacing, text color/size, and bottom padding */
.useful-info-text {
    font-size: 100%;
    font-weight: bold;
    align-content: center;
    text-align: left;
    color: #ffffff;
    padding-left: 75px;
}

/* controls the spacing of the separate paragraph containers*/
.separate-paragraph-container {
    padding-top: 150px;
}

/* controls size, and centering of the separate paragraphs*/
.separate-paragraph {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

/* used to give that empty white space around the bottom blue box */
.get-paid-container {
    padding: 100px;
}

/* rounds the corners, separates the divs, and ensures the background is blue and not the text */
.get-paid-background {
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(7, 80, 248);

}

/* colors behind the image to prevent blue overlap. */
.get-paid-img {
    background-color: #ffffff;
}

/* TO-DO controls the dimensions of the image */
.get-paid-img2 {
    height: 90%;
    width: auto;
}

/* pseudo padding for the space in the bottom blue box */
.spacer {
    height: 18%;
}

/* colors and make the text bigger */
.get-paid-sooner {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

/* controls size, color, and centering of the last paragraph */
.paragraph4 {
    font-size: 100%;
    font-weight: bold;
    align-content: center;
    text-align: left;
    color: #ffffff;
    padding-left: 40px;
}

/* Sets the spacing, background color and very wonky padding
of the footer. */
footer {
    text-align: center;
    background-color: rgb(7, 80, 248);
    padding-top: 25px;
    padding-bottom: 125px;
}

/* CSS for the big footer text */
.try-today {
    color: #ffffff;
    font-size: 3em;

}

/* For small footer text */
.get-started {
    color: #ffffff;
    font-weight: 600;
}

/* container spacing for the buttons */
.green-white-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

/* This is for the spacing BETWEEN the buttons */
.buttons {
    margin: 0 30px;
    text-align: center;
}

/* This performs the trickery of fixing the background color of the png
I had to find and alter. It also controls the size of the icon. */
.icon-size {
    background-color: #ffffff;
    height: 25px;
    width: auto;
}

/* changes the getting started button */
.btn-primary {
    background-color: rgba(127, 209, 38, 255) !important;
}

/* changes the chat with us button background and text color */
.btn-secondary {
    color: rgb(7, 80, 248) !important;
    background-color: #ffffff !important;
}

/* The container for selling points at the bottom */
.footer-info {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this controls the spacing between all the images to prevent squishing */
.spacing {
    margin: 0 8px;
}

/* this controls the size of the little ellipse spacers */
.ellipse-size {
    width: auto;
    height: 7px;
}