/* This is the font I found that looks the closest to the 
images, this css will convert the whole page to this font ~Adrian~ */
* {
    font-family: 'Roboto Mono Bold', sans-serif;
    margin: 0; padding: 0;
}

/* used to create the white space ~Adrian~ */
.useful-info-container {
    padding-bottom: 50px;
    padding-top: 100px;
}

/* creates the border around the image and rounds the leftmost corners ~Adrian~ */
.useful-info-img {
    border: 1px solid black;
    border-radius: 15px 0px 0px 15px;
}

/* creates the rounded corners, border and sets the background color ~Adrian~ */
.useful-info-paragraph {
    background-color: rgb(7, 80, 248);
    color: #ffffff;
    border: 1px solid black;
    border-radius: 0px 15px 15px 0px;
}

/* details of the big text ~Adrian~ */
.useful-info-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

/* Adds padding to image container and creates the black border ~Adrian~ */
.useful-info-img {
    border: 1px solid black;
    padding: 100px 0px 100px 0px;
}

/* in charge of the spacing, text color/size, and bottom padding ~Adrian~ */
.useful-info-text {
    font-size: 100%;
    font-weight: bold;
    align-content: center;
    text-align: left;
    color: #ffffff;
    padding-left: 75px;
}

/* controls the padding space of the separate paragraph containers ~Adrian~ */
.separate-paragraph-container {
    padding-top: 150px;
}

/* controls size, and centering of the separate paragraphs ~Adrian~ */
.separate-paragraph {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

/* used to give that empty white space around the bottom blue box ~Adrian~ */
.get-paid-container {
    padding-bottom: 75px;
    padding-top: 100px;
}

/* sets the spacing for the top and bottom of the image ~Adrian~ */
.get-paid-img2 {
    padding: 50px 0px 50px 0px;
}

/* colors and make the text bigger ~Adrian~ */
.get-paid-sooner {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

/* controls size, color, and centering of the last paragraph ~Adrian~ */
.paragraph4 {
    font-size: 100%;
    font-weight: bold;
    align-content: center;
    text-align: left;
    color: #ffffff;
    padding-left: 40px;
    background-color: rgb(7, 80, 248);
    border-radius: 0px 15px 15px 0px;
}

/* Sets the spacing, background color and very wonky padding
of the footer. ~Adrian~ */
footer {
    text-align: center;
    background-color: rgb(7, 80, 248);
    padding-top: 25px;
    padding-bottom: 125px;
}

/* CSS for the big footer text ~Adrian~ */
.try-today {
    color: #ffffff;
    font-size: 3em;
}

/* For small footer text ~Adrian~ */
.get-started {
    color: #ffffff;
    font-weight: 600;
}

/* container spacing for the buttons ~Adrian~ */
.green-white-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

/* This is for the spacing BETWEEN the buttons ~Adrian~ */
.buttons {
    margin: 0 30px;
    text-align: center;
}

/* This performs the trickery of fixing the background color of the png
I had to find and alter. It also controls the size of the icon. ~Adrian~ */
.icon-size {
    background-color: #ffffff;
    height: 25px;
    width: auto;
}

/* changes the getting started button ~Adrian~ */
.btn-primary {
    background-color: rgba(127, 209, 38, 255) !important;
}

/* changes the chat with us button background and text color ~Adrian~ */
.btn-secondary {
    color: rgb(7, 80, 248) !important;
    background-color: #ffffff !important;
}

/* The container for selling points at the bottom ~Adrian~ */
.footer-info {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this controls the spacing between all the images to prevent squishing ~Adrian~ */
.spacing {
    margin: 0 8px;
}

/* this controls the size of the little ellipse spacers ~Adrian~ */
.ellipse-size {
    width: auto;
    height: 7px;
}

/* sets the background color to white for the spacing columns ~Adrian~ */
.space-col {
    background-color: white;
}
/* cali  */

li, a {
    font-weight: 500;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%
}

.doubletap {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.btn-1 { 
    margin-right: auto;
    padding: 4px 15px;
    border: thin .5px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    background-color: blue;
    color: azure;
}

.btn-2 {
    background-color:blue;
    color: white;
    padding: 4px 15px ;
    border-radius: 20px ;
    transition: all 0.3s ease 0s;
}


button:hover {
    background-color: grey;
}

h2 {
    border: 0px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 50px;
    font-weight: bolder;
    transition: all 0.3s ease 0s;
}

.mid-sec { 
    font-size: 30px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.mid-sec2 {
    color: rgb(167, 165, 165);
    transition: all 0.3s ease 0s;
}

.row {
    margin-top: 50px;
    margin-left: 200px;
    transition: all 0.3s ease 0s;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#fg-1 {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    padding-right: 50px;
}

#features-grid {
    width: 70%;
    vertical-align: middle;
    padding-right: 50px;
    padding-top: 20px;
}