/*CSS Document*/
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 10px;
background: #1825e1;
}
#element {
height: calc(5px - 9px);
 max-width: 10px
}
.width-60 {
  width: 50%;
}
.flex-column{
  display:flex;
  column-gap: 40px;
  margin-left: 120px;
  margin-top: 50px;
}
.round-edges{
  border-radius: 15px;
}